<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block seo %}
    {% end %}

     <meta name="author" content="Cufrancis" />
    <meta name="copyright" content="2016 www.cufrancis.com" />

    <title>{% block title %}WebBlog {% end %}</title>

    {% block css %}
    {% end %}
</head>
<body>
    {% block content %}
    {% end %}

<footer id="footer">
      {% block footer %}
      {% end %}
</footer>

  {% block script %}
  {% end %}

</body>
</html>
